# Large data files
data/training.1600000.processed.noemoticon.csv
*.csv

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Models
*.h5
*.pkl
*.joblib

# IDE
.vscode/
.idea/
*.swp
*.swo
